# MongoDB Connection URI (Replace with your actual MongoDB Atlas connection string)
MONGODB_URI=mongodb+srv://kanzariyasunil249:%40sunil2465%40@cluster0.23vwoes.mongodb.net/SRplastic

# Port for backend server (default is 5000)
PORT=5001
